*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100%;
    width: 100%;
    background-color: red;
    font-family: 'Nunito', sans-serif;
}
#main{
    width: 100%;
    height: 950px;
}
#head{
    background-color: white;
    height: 150px;
    width: 100%;
}
#head1{
    width: 50%;
    height: 150px;
    float: left;
    text-align: center;
}
#head1 h1{
    padding-top: 40px;
    font-size: 50px;
    font-weight: bold;
}
#head1 span{
    color: #248c9e;
}
#head2{
    float: right;
    width: 50%;
    height: 150px;
    text-align: right;
}
#head2 h2{
    font-size: 25px;
    padding-top: 35px;
    width: 80%;
}
#head2 span, a{
    color: #248c9e;
}
#navbar{
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to top,#2b8eac,#06566e);
    text-align: center;
}
#navbar ul li{
    list-style: none;
    padding-top: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#navbar ul li a{
    text-decoration: none;
    padding: 15px 25px 12px 25px;
    color: white;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}
#navbar ul li a:hover{
    background-image: linear-gradient(#116781,#14addb);
    cursor: pointer;  
}
#slider{
    width: 100%;
    height: 400px;
}
#content{
    background-color: white;
    width: 65%;
    height: 400px;
    float: left;
}
#content h1{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0px 20px 0px;
}
#content h1 em{
    font-size: 25px;
    font-weight: normal;
}
#content p{
    width: 85%;
    margin : 0px auto 0px auto;
}
#content p a{
    background-color: #2b8eac;
    padding: 10px 40px 10px 40px;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bold;
}
#content p a:hover{
background-image: linear-gradient(to top, #52d7ff,#09566d);
}
#image{
    background-color: aquamarine;
    width: 35%;
    height: 400px;
    float: left;
}